@import url('/reset.scss');
@import url('https://fonts.googleapis.com/css?family=Dosis:800&display=swap');

@function pi() {
    @return 3.14159265359;
}

$spinner-stroke: 8px;
$inner-stroke: 1px;
$spinner-radius: 60 - ($spinner-stroke / 2); // 60 is the size of the SVG circle

:root {
    --spacing: 1.618rem;
    --half-spacing: calc(var(--spacing) / 2);

    --border-radius: calc(var(--half-spacing) / 2);

    --color-alpha: #409fff;
    --color-bravo: #9ACE46;
    --color-charlie: #cd2828;
    --color-delta: #ededed;
    --color-text: #321321;

    --spinner-background: #e1e5e1;
    --spinner-highlight: var(--color-alpha);
    --spinner-complete: var(--color-bravo);
}

body {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: {
        image: url('hero.jpg');
        size: cover;
        position: center;
    }
    color: var(--color-text);
    padding: calc(var(--spacing) * 2);
    font-family: 'Dosis', sans-serif;
    line-height: 1.618;
}

h1 {
    text-transform: uppercase;
    margin-bottom: calc(var(--half-spacing) / 4);
}

h1 + p {
    margin-top: 0;
}

svg {
    height: auto;
    width: 100%;
    overflow: visible;
}

ins {
    text-decoration: none;
}

small {
    font-size: 0.6em;
}

.card {
    text-align: center;
    min-width: calc(var(--spacing) * 10);
    background-color: white;
    padding: var(--spacing);
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 26px -13px rgba(0, 0, 0, 0.3);
}

.spinner-container {
    position: relative;
    text-align: center;
    margin: calc(var(--spacing) * 1.5) 0;
}

.percentage-radial {
    position: relative;
    transform: rotate(-90deg);
    stroke: var(--spinner-background);
    max-width: calc(var(--spacing) * 6);
    stroke-width: $inner-stroke;

    &__value {
        stroke: var(--spinner-highlight);
        stroke-width: $spinner-stroke;
        stroke-dasharray: #{2 * pi() * $spinner-radius}; // 2 * pi * r
        stroke-dashoffset: #{2 * pi() * $spinner-radius}; // 2 * pi * r
        transition: stroke-dashoffset 100ms, stroke 250ms;
        stroke-linecap: round;
        // animation: spin 6s infinite alternate ease-in-out;
        transform-origin: 50% 50%;

        &--complete {
            stroke: var(--spinner-complete);
        }

    }

    &__value-container {
        font-size: 2.6rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        margin: 0;
    }

}

.button {
    border: 0 none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--half-spacing);
    border-radius: calc(var(--border-radius) * 0.5);
    background-color: var(--color-alpha);
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.75;
    transition: background-color 250ms;
    margin-bottom: calc(var(--half-spacing) / 2);
    cursor: pointer; // needed as it's not inside a form

    &[disabled] {
        background-color: var(--color-delta);
        color: #CCC;
        cursor: not-allowed;
    }

    &:last-of-type {
        margin-bottom: 0;
    }

    &--small {
        font-size: 0.8em;
        line-height: 1;
        padding: calc(var(--half-spacing) * 0.75);
    }

    &--success {
        background-color: var(--color-bravo);
    }

    &--cancel {
        background-color: var(--color-charlie);
        color: white;
    }

}

@keyframes spin {

    33% {
        transform: rotate(360deg);
    }

    66% {
        transform: rotate(0deg);
    }

    99%, 100% {
        transform: rotate(360deg);
    }

}